{% extends "base.html" %}
{% block content %}
    <h1>This is Elion!</h1>
    <h2>My Biography</h2>
<text> Hello, my name is Elion Gega and I'm 16 years old. I live in Möhlin with my parents and my younger brother.
In my freetime I like to go out with friends and go to hit the gym.
I played football 7 years long, but then I stopped, because I wanted to focus on school. I have glasses, but I don't were them. I wear contact lenses.</text>
At the moment I'm at the Gymnasium with the main focus economic and right. 
I don't know, what i want to do after the Gymnasium, but I know that I will create great things.</text>
<h2>My Look</h2>
<text>I have short black hair and brown eyes. I'm 1.80m tall and I'm built different.<text></text>
{% endblock %}


