{% extends "base.html" %}
{% block content %}
    <h1>This is Fiona!</h1>
    <h2>My life</h2>
<text> Hello, my name is Fiona Schreiber. I live in a house with my parents, my younger sister Michelle and my cat Jacky. In my freetime i like to go out with friends, playing the flute and riding horses. I ride since 8 years and I play the flute since 6 years. I play also in a big band. At the moment I'm at the Gymnasium with the main focus biology and chemistry. After the Gymnasium i want to study veterinary medicine.</text>
{% endblock %}
