{% extends "base.html" %}
{% block content %}
    <h1>This is Tim!</h1>
    <h2>My Biography</h2>
    <text> Hello, my name is Tim Metzger and I'm 17 years old. I live in a house in Switzerland with my parents, my younger sister Lena and big brother Fabio.
    In my freetime i like to go out with friends, playing handball and doing other sports.
    I played handball since 11 years.
    At the moment I'm at the Gymnasium with the main focus Economics and Rights. 
    After the Gymnasium i don't know yet what to do.</text>
    <h2>My Look</h2>
    <text>I have blond short hairs, blue eyes and dark brown eyebrows.</text>
    
{% endblock %}