{% extends "base.html" %}
{% block content %}
    <h1>This is Valentina!</h1>
    <h2>My profile</h2>
    <text>
        <ol>Name: Valentina Brunetti</ol>
        <ol>Birth date: September 10th 2005</ol>
        <ol>Age: 16 years</ol>
        <ol>Star sign: Virgo</ol>
       <ol></ol>
       I go to the first year of grammar school in Muttenz. My favourite subjects are history, bioloIgie, economics and law.
       In my leisure time I dance, go out with friends and listen a lot of music.
       I have an older and a younger brother and i live with them and my parents near Basel.  
       Muttenz.     </text>
{% endblock %}